input[type="email"] {

  /* Text */
  text-shadow: none;
  text-transform: none;
  text-align: center;
  vertical-align: middle;

  /* Display */
  cursor: auto;
  float: none;
  display: inline-block;

  /* Colors */
  color: #34495E;
  border: 5px solid #BDC3C7;
  background-color: #FFFFFF;

  /* Effects */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .25s linear, .25s linear;
  -moz-transition: .25s linear, .25s linear;
  -o-transition: .25s linear, .25s linear;
  transition: .25s linear, .25s linear;
}

input[type="email"]:focus {
  outline: none;
  border-color: #1ABC9C;
}

input[type="email"].valid {
  color: #34495E;
  border-color: #2ECC71;
}

input[type="email"].error {
  color: #E74C3C;
  border-color: #E74C3C;
}

.placeheld:-ms-input-placeholder {
  color: #E74C3C;
}

.placeheld:-moz-placeholder { /* Firefox 18- */
  color: #E74C3C;
}

.placeheld::-moz-placeholder {  /* Firefox 19+ */
  color: #E74C3C;
}

.placeheld::-webkit-input-placeholder {
  color: #E74C3C;
}

.placeheld:-input-placeholder {
  color: #E74C3C;
}
